.hero-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  background-size: cover;
  background-position: center;
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Poppins;
}

.hero-background h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
  font-weight: normal;
}

.hero-background p {
  font-size: 1.3rem;
}

.hero-promotion {
  font-size: 1.3rem;
  font-weight: bold;
  color: #5d3987;
  margin-top: 60px ;
}

.btn-primary {
  font-family: Poppins;
  background-color: #9b72d3; 
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #8a60c2; 
}
