.footer {
    text-align: center; 
    padding: 17px; 
    margin-top: 30px;
    background-color: #f7f6f6;
    font-family: Poppins;
}

.footer a {
    color: #000000; 
    text-decoration: none; 
    margin: 0 10px; 
}

.footer a:hover {
    font-weight: bold;
}

.footer img {
    width: 30px;
    margin: 0 5px;
    transition: transform 0.3s ease; 
}

.footer img:hover {
    transform: scale(1.1);
}